/* Estilo dos botões da navegação */
#botão,
#botão1,
#botão2,
#botão3 {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 15px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(34, 185, 195); /* Fundo azul claro */
  transition: background-color 0.3s, transform 0.2s;
}

/* Efeito hover nos botões da navegação */
#botão:hover,
#botão1:hover,
#botão2:hover,
#botão3:hover {
  background-color: rgb(20, 150, 160); /* Tom mais escuro no hover */
  transform: translateY(-2px);
}
