#retangulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 112, 107);
    border: 2px solid rgb(0, 0, 0);
    width: 100vw;
    height: 85px;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #logo {
    width: 75px;
    height: 75px;
    margin-left: 10px;
  }
  
  #navegacao {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }