/* Estilo global da página */
  body {
    background: linear-gradient(135deg, #005a58, #0f2027, #203a43, #2c5364);
    background-attachment: fixed;
  }
  

.botao-secundario {
  padding: 10px 20px;
  font-size: 0.9rem;
  color: #000000;
  background-color: transparent;
  border: 1px solid #22b9c3;
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
  backdrop-filter: blur(4px);
}

.botao-secundario:hover {
  background-color: #22b9c3;
  color: #000;
  box-shadow: 0 0 10px #22b9c3aa;
}
