footer {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 0;
    background-color: rgb(34, 185, 195);
    color: white;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 80%;
    border-top: 2px solid rgb(20, 150, 160);
    border-radius: 10px;
  }
  
  footer p {
    margin: 20px;
  }
  
  
  .cta-centralizada {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  