


#footer-home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: rgb(34, 185, 195);
  color: white;  /* <-- Aqui define a cor do texto */
  font-size: 14px;
  width: 100%;
  border-top: 2px solid rgb(20, 150, 160);
  border-radius: 10px;
}

#footer-home p {
  margin: 15px;
}
#footercolor{
    color: white;
}
  
  
  .cta-centralizada {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  