*{
        margin: 0;
}

.site-footer {
    display: flex;
    justify-content: center;
      position: fixed;
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}


