* { 
    margin: 0;
}


body {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh; 
    background-image: url("../img/fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main{
    width: 400px;
    height: 400px;
    border: 2   px solid black;
    backdrop-filter: blur(3px);;
    box-shadow: 0 0 15px pink;
    border-radius: 20px;
}
.logo{
    width: 400px;
    height: 400px;
}